*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    min-height: 100vh;
    background-color: white;
    flex-direction: column;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background: black;
    color: white;
  }

.theme{
    text-align: center;
    margin: 40px 0;
}

.theme h1{
    font-weight: bold;
    font-size: 4em;
}

.theme i {
    font-size: 50px;
    cursor: pointer;
    padding:20px;
}

body, .video-controls, .video-timer, options{
    display: flex;
    align-items: center;
    justify-content: center
}

li{
    list-style-type: none;
}
.container{
    aspect-ratio: 16/9;
    position: relative;
    max-width: 900px;
    width: 98%;
    background: #000;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #fff;
}


.wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s ease;
}

.container.show-controls .wrapper{
    bottom: 0px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.13s ease;
}

.wrapper::before{
    content: "";
    bottom: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    height: calc(100% + 35px);
}

.video-controls{
    padding: 5px 20px 10px;
}

.container video{
    width: 100%;
}

.video-controls .options{
    width: 100%;
}


.video-controls .options:last-child{
    justify-content: flex-end;
}

.video-controls .options:first-child{
    display: flex;
}

.video-timeline{
    height: 7px;
    width: 100%;
    cursor: pointer;
}

.video-timeline .progress-area{
    height: 3px;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
}

.progress-area .progress-bar{
    width: 0%;
    height: 100%;
    background: lightblue;
    position: relative;
}

.progress-area .progress-bar::before{
    content: "";
    right: 0;
    top: 50%;
    height: 13px;
    width: 13px;
    background: inherit;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 50%;
}
.progress-area span, .progress-area .progress-bar::before{
    display: none;
}
.video-timeline:hover .progress-area span, 
.video-timeline:hover .progress-area .progress-bar::before{
    display: block;
}
.progress-area span{
    position: absolute;
    left: 50%;
    color: #fff;
    top: -25px;
    font-size: 13px;
    transform: translateX(-50%);
}

.options button{
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    background: none;
    font-size: 19px;
    cursor: pointer;
}


.options input{
    height: 4px;
    max-width: 75px;
}

.options .video-timer{
    font-size: 14px;
    color: #fff;
    margin-left: 15px;
}

.video-timer .separator{
    font-size: 16px;
    margin: 0 5px;
}

.options button:where(i,span){
    width: 100%;
    height: 100%;
    line-height: 40px;
}