*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover .calculator-grid>button:focus {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 4em;
}

.nav li:hover {
    color: rgba(253, 137, 253, 0.637);
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: auto;
    background: rgba(255, 255, 255, 0.158);
}


.read-more-button {
    border: 1px solid #007bff;
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    border-radius: 5px;
    background: #007bff;
    font-weight: bold;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.article .blog {
    display: inline;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.158);
    padding: 2em;
}

.article .blog article {
    max-width: 80ch;
}


.contact-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.801);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}